<?php
?>

<style>
table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;  margin-top: 30px;}
td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }
tr:nth-child(even) { background-color: #dddddd; }
.entity_id{width:2%} .tasks_name{width:30%}

</style>


<form name="form_sample" id="form_sample" enctype="multipart/form-data" action="<?php echo $this->getUrl("rltsquare/form/submit")  ?>" method="post">

<label for="tasks_name">Tasks Name: </label><br>
<input type="text" id="tasks_name" name="tasks_name"><br>

<label for="description" > Description:</label><br>
<input type="text" id="description" name="description"> <br>

<label for="estimate_hours">Estimate Time:</label><br>
<input type="text" id="estimate_hours" name="estimate_hours"><br>

<label for="assignee_name">Assignee Name</label><br>
<input type="text" id="assignee_name" name="assignee_name"><br>

<label for="status">Status: </label><br>
<input type="boolean" id="status_boolean" name="status_boolean"><br>

<!-- <label for="submit" >Submit</label> -->
<br>
<input type="submit" id="submit" name="submit">

</form>


<table>
  <tr>

    <th class="entity-id">Id</th>
    <th class="tasks-name">Tasks Name</th>
    <th class="description">Description</th>
    <th class="estimate_hours">Estimate Time</th>
    <th class="assignee_name">Assgined User</th>
    <th class="status_boolean">Status</th>

  </tr>
    <?php
        $data = $this->getPostCollection();
        foreach ($data as $post):{
            echo '<tr>
                    <td>'.$post->getEntityId().'</td>
                    <td>'.$post->getTasksName().'</td>
                    <td>'.$post->getDescription().'</td>
                    <td>'.$post->getEstimateHours().'</td>
                    <td>'.$post->getAssigneeName().'</td>
                    <td>'.$post->getStatusBoolean().'</td>
                  </tr>';
        } endforeach;
    ?>
  
</table>
</body>
</html>

