<?php
/** @var \Rltsquare\Tasks\Block\Template $block */
?>

<?php
?>
<form name="form_sample" id="form_sample" enctype="multipart/form-data" action="<?php echo $this->getUrl('rltsquare/image/save', ['_secure' => true]); ?>" method="post" data-mage-init={"validation":{}} >

<label for="Description">Image Description: </label><br>
<input type="text" id="description" name="description"><br>

<label for="upload_image" > Upload Image:</label><br>
<input type="file" id="image" name="image"> <br>

<!-- <label for="submit" >Submit</label> -->
<br>
<input type="submit" id="submit" name="submit">

</form>


<style>
table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;  margin-top: 30px;}
td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }
tr:nth-child(even) { background-color: #dddddd; }
.description{width: 50%;}

</style>

<table>
  <tr>

    <th class="id">Id</th>
    <th class="description">Description</th>
    <th class="image">Image</th>


  </tr>
    <?php
        $data = $this->getImageData();
        foreach ($data as $post):{
            echo '<tr>
                <td>'.$post->getEntityId().'</td>
                <td>'.$post->getDescription().'</td>
                <td><img src="'.$this->getUrl('media/').$post->getImage().'" width="200px" height="200px"></td>
                </tr>';
        } endforeach;
    ?>
  
</table>
