<?php
/** @var \Rltsquare\Tasks\Block\Template $block */
?>

<div class="template">
    <h2><?=$block->getCompany()?></h2>
    <h3><?=$block->getName()?></h3>
    <img src="<?=$block->getImage()?>"/>
    <br>
    <!-- <img src="<?php echo $this->getViewFileUrl('images/1.jpg'); ?>" alt="Demo" /> -->
    <h4><?=$block->getEducation()?></h4>
    <h4><?=$block->getDOB()?></h4>
    <h5><a href=" <?=$block->getLinkedInProfile()?> "> LinkedInn</a></h5>

</div>
