<?php
/** @var \Mageplaza\HelloWorld\Block\Template $block */
?>
<style>
#default {text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
}

</style>
<h1 class="default"> Welcome to RLTSquare</h1>
