<?php
?>
<form name="form_sample" id="form_sample" enctype="multipart/form-data" action="<?php echo $this->getUrl("pyaray/customer/submit")  ?>" method="post">

<label for="firstname">First Name: </label><br>
<input type="text" id="firstname" name="firstname"><br>
<label for="lastname">Last Name: </label><br>
<input type="text" id="lastname" name="lastname"><br>
<label for="email"> Email:</label><br>
<input type="email" id="email" name="email"> <br>
<label for="password">Password:</label><br>
<input type="text" id="password" name="password"> <br>

<!-- <label for="submit" >Submit</label> -->
<br>
<input type="submit" id="submit" name="submit">

</form>


